<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Table V03</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--NOTED: laging maglalagay ng thymeleaf para maibasa nya kasi pag src di pwdi need Th mapa href/src!-->
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{vendor/animate/animate.css}">-->
    <!--===============================================================================================-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{vendor/select2/select2.min.css}">-->
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" th:href="@{vendor/perfect-scrollbar/perfect-scrollbar.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">


    <!--===============================================================================================-->
<!--    <link href="../../webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />-->
<!--    <script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<!--    <script src="../../webjars/jquery/3.0.0/js/jquery.min.js"></script>-->
</head>
<body class="bodies" th:class="bodies">



<!-- table,modal and add information-->
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver6 m-b-110">
                <table data-vertable="ver6">
                    <thead>
                    <tr class="row100 head">
                        <th class="column100 column1" data-column="column1">ID</th>
                        <th class="column100 column2" data-column="column2">First Name</th>
                        <th class="column100 column3" data-column="column3">Last Name</th>
                        <th class="column100 column4" data-column="column4">Age</th>
                        <th class="column100 column5" data-column="column5">Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:if="!${#lists.isEmpty(persons)}">
                        <tr class="row100" th:each = "person : ${persons}">
                            <td class="column100 column1" th:text = "${person.id}"></td>
                            <td class="column100 column2" th:text = "${person.firstName}"></td>
                            <td class="column100 column3" th:text = "${person.lastName}"></td>
                            <td class="column100 column4" th:text = "${person.age}"></td>
                            <td  class="column100 column5" id="buttonFor">
                                <button>Update</button>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
            <!--modal button-->
            <a id="modal-200910" href="#modal" role="button" class="btn btn-primary" data-toggle="modal">Add New Information</a>

            <div class="modal fade" id="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">
                                Add Information:
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <!--modal add save query-->
                        <div class="modal-body">
                            <form id="form" action="/" method="post" th:object="${person}" th:action="@{/}" class="form" >

                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input name="firstName"  class="form-control" type="text" id="firstName" placeholder="First Name" th:field="*{firstName}" >
                                    <span  th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstname Error</span>
                                </div>

                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input name="firstName" class="form-control" type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}" >
                                    <span   th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastname Error</span>
                                </div>
                                <div class="form-group">
                                    <label for="age">Age</label>
                                    <input name="firstName" class="form-control" type="text" id="age" placeholder="age" th:field="*{age}" >
                                    <span   th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age Error</span>
                                </div>
                                <!--button-->
                                <div class="modal-footer">
                                    <button id="save" type="submit" class="btn btn-primary">
                                        Save
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
            <!--            <div class="align-text-top">-->
            <!--            <a class="btn btn-primary" href="/add " role="button" >Add new Information</a>-->
            <!--            </div>-->
        </div>

    </div>

</div>



<script src="js/valueChecking.js"> </script>

<script src="js/jquery.min.js"  > </script>
<script src="js/bootstrap.min.js"  > </script>
<script src="js/scripts.js"  > </script>
<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js" th:src="@{vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js" th:src="@{vendor/bootstrap/js/popper.js}" ></script>
<script src="vendor/bootstrap/js/bootstrap.min.js" th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js" th:src="@{vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script src="js/main.js" th:src="@{js/main.js}"></script>

</body>
</html>